
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
 background-color: #090c31;
}
.navbar{
    background-color: white;
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position:fixed;
   }
   ul{
    display: flex;
    list-style-type:none ;
   }


h1{
    margin: 0px 20px 10px 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

   a{
    text-decoration: none;
    color:#333;
   }

   li{
       padding-right:10px;
       margin-left: 25px;
       font-size: 20px;
       font-weight:bold;
       font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   }

   li a:hover{
    color: #5953f8;
   }

   .container{
    background-image: url(https://github.com/Anoshkhan/Landing-page/blob/master/src/assets/1.png?raw=true);
    height: 100vh;
    background-repeat: no-repeat;
    background-position:relative;
    background-size: cover;
    border-bottom-right-radius: 200px;
    border-bottom-left-radius:200px;
   }
   .one{
       color: white;
    padding-top:25%;
    font-weight: bold;
    font-size: 12vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 620px;
    letter-spacing: 4px;
   }
   h6{
    padding-left: 680px;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size :18px;
   }
   
   .home4{
    display: flex;
   }
  .image1{
        margin-top: 10vh;
        border: none;
        display: flex;
}
/*about*/
   #one{
      font-family: cursive;
      margin-top: 20vh;
      color: white;
      padding-right: 10vh;
      padding-left: 50px;
      letter-spacing: 3px;
    }
    .content{
      background-color:white;
      height:100vh;
      width:120vh;
      margin-top:50px;
      border-top-right-radius:200px;
      border-bottom-right-radius:200px;
     }
     h2{
         box-sizing: border-box;
      padding-top: 10%;
      padding-bottom: 10px;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     font-size: 35px;
     color:#333;
     border-bottom:1px #333 solid;
     margin-left: 200px;
     margin-right: 300px;
     }


     #two{
        padding-left: 15vh;
        padding-top: 10%;
        box-sizing: border-box;
        letter-spacing: 3px;
        font-family: cursive;
        font-size:20px;
        font-weight: 300;
     }
       .brand{
        background-color: #5953f8;
        height: 100vh;
        margin-top:50px;
        margin-left: 40%;
        border-top-left-radius:200px ;
        border-bottom-left-radius:200px ;
        padding-left:10vh;
        padding-bottom:10%;
       
       }
   .Two{
       padding-top: 10%;
       padding-bottom: 10px;
   margin-left: 200px;
   margin-right:170px;
   color: white;
   font-size: 40px;
   border-bottom: 2px #fff solid;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   }

 .fa-google{
    background-color: #fff;
    padding:7% 8% 7% 8%;
    margin:40px 40px 10px 40px;
    border: none;
    border-radius: 50%;
    font-size: 50px;
 }
  .fa-amazon{
    background-color: #fff;
    padding:7% 6% 7% 10%;
    margin:40px 40px 10px 40px;
    border: none;
    border-radius: 50%;
    font-size: 50px;
  }
  .fa-instagram{
    background-color: #fff;
    padding:7% 4% 7% 9%;
    margin:40px 40px 10px 40px;
    border: none;
    border-radius: 50%;
    font-size: 50px;
  }

  .fa-linkedin{
    background-color: #fff;
    padding:7% 7% 7% 9%;
    margin:40px 40px 10px 40px;
    border: none;
    border-radius: 50%;
    font-size: 50px;
  }


  #pi{
    font-size: 20px;
    padding-top: 10px;
    font-family: cursive;
    color:rgb(128, 128, 128);
    font-weight:bold;
  }

  i:hover{
     background-color: black;
     color: #fff;
  }

 /*footer*/

 .footer-container{
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  height: 30vh;
  width: 100%;
  margin-top: 10%;
 }

 .head1 .h1{
  color: #5953f8;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 50px;
  font-weight: bold;
  margin-top:5vh;
  margin-left:5vh;
 }
 .head1 .p{
  color: black;
  font-family: cursive;
  margin-left:5vh;
  font-size: 20px;
 }
 .head2 .h2{
  color: #333;
  font-size: 40px;
  font-family: cursive;
  font-weight: bold;
  margin-top:5vh;
  margin-right:10vh;
 }
 .head2 #link a{
  color: darkmagenta;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  font-weight: 500;
 display: block;
 margin-left: 80px;
 margin-top: 1vh;
 }